<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hcnc.mapper.HcncMapper">
	<select id = "selectTest" resultType="String">
		SELECT VERSION()
	</select>
	
	<insert id="insertTestData" parameterType="Map">
		INSERT INTO HCNC.HTML_P1(P1, P2, P3)
		VALUES (#{P1}, #{P2}, #{P3})
		<!--
		P1 = A
		#{P1) > 'A'
		${P1} > A  
		-->
	</insert>
	<!-- 
	<select id = "selectBoard" parameterType="Map" resultType="Map">
		SELECT BOARD_NO,
				TITLE,
				CONT,
				WRITER,
				MODIFIER,
				REG_DT,
				MOD_DT,
				0 AS CHK
		FROM HCNC.HCNC_BOARD
		WHERE 1=1
		<if test='boardNo != null and boardNo != ""'>
			AND	BOARD_NO=#{boardNo}
		</if>
		<if test='searchVal != null and searchVal != ""'>
		
		<choose>
			<when test='searchCmb == "ALL"' >
			AND (
				TITLE LIKE CONCAT('%', #{searchVal}, '%')
			OR CONT LIKE CONCAT('%', #{searchVal}, '%')
				)
			</when>
			<when test='searchCmb == "TITLE"' >
			AND TITLE LIKE CONCAT('%', #{searchVal}, '%')
			</when>
			<when test='searchCmb == "CONT"' >
			AND CONT LIKE CONCAT('%', #{searchVal}, '%')
			</when>
		</choose>
		</if>
	</select>
	 -->
	
	<select id = "selectBoard" parameterType="Map" resultType="Map">
		SELECT BOARD.BOARD_NO, BOARD.TITLE, BOARD.CONT
			, BOARD.WRITER, BOARD.MODIFIER, BOARD.REG_DT
			, BOARD.MOD_DT, BOARD.DELETE_YN
			, DTL01.CODE_NM as BOARD_TYPE_NM
			, DTL02.CODE_NM as CATEGORY_NM
			, 0 AS CHK
		FROM HCNC.hcnc_board as BOARD 
		  	LEFT OUTER JOIN HCNC.COM_CD_DTL as DTL01
				ON BOARD.BOARD_TYPE = DTL01.CODE
				AND DTL01.PT_CODE = 'BOARD_TYPE'
			LEFT OUTER JOIN HCNC.COM_CD_DTL as DTL02
				ON BOARD.CATEGORY = DTL02.CODE
				AND DTL02.PT_CODE = 'CATEGORY'
		 WHERE 1=1
	 	<if test='boardNo != null and boardNo != ""'>
			AND	BOARD.BOARD_NO=#{boardNo}
		</if>
		<if test='searchVal != null and searchVal != ""'>
		<choose>
			<when test='searchCmb == "ALL"' >
			AND (	
				 BOARD.TITLE LIKE CONCAT('%', #{searchVal}, '%')
				OR BOARD.CONT LIKE CONCAT('%', #{searchVal}, '%')
			)
			</when>
			<when test='searchCmb == "TITLE"' >
				AND BOARD.TITLE LIKE CONCAT('%', #{searchVal}, '%')
			</when>
			<when test='searchCmb == "CONT"' >
				AND BOARD.CONT LIKE CONCAT('%', #{searchVal}, '%')
			</when>
		</choose>
		</if>
		<if test='searchBoardType != null and searchBoardType != ""'>
			AND BOARD.BOARD_TYPE=#{searchBoardType}
		</if>
		<if test='searchCategory != null and searchCategory != ""'>
			AND BOARD.CATEGORY=#{searchCategory}
		</if>
		AND BOARD.DELETE_YN = 'N'
	</select>
	
	
	<select id = "selectBoardList" parameterType="Map" resultType="Map">
		SELECT BOARD_NO,
				TITLE,
				CONT,
				WRITER,
				MODIFIER,
				REG_DT,
				MOD_DT,
				1 AS CHK
		FROM HCNC.HCNC_BOARD
		WHERE 1=1
	</select>
	
	<select id = "selectBoardDetail" parameterType="Map" resultType="Map">
		SELECT BOARD_NO,
				TITLE,
				CONT,
				WRITER,
				MODIFIER,
				REG_DT,
				MOD_DT
		FROM HCNC.HCNC_BOARD
		WHERE 1=1
			AND BOARD_NO=#{boardNo}
	</select>
	
	<select id="selectCodeList" parameterType="Map" resultType="Map">
		SELECT CODE
			, CODE_NM
			FROM HCNC.COM_CD_MST
		WHERE 1=1
		<if test='searchVal != null and searchVal != ""'>
		<choose>
			<when test='searchCmb == "ALL"' >
			AND (
				 CODE LIKE CONCAT('%', #{searchVal}, '%')
				OR CODE_NM LIKE CONCAT('%', #{searchVal}, '%')
			)
			</when>
			<when test='searchCmb == "CODE"' >
				AND CODE LIKE CONCAT('%', #{searchVal}, '%')
			</when>
			<when test='searchCmb == "CODE_NM"' >
				AND CODE_NM LIKE CONCAT('%', #{searchVal}, '%')
			</when>
		</choose>
		</if>
	</select>
 	
	<select id="selectCodeListDtl" parameterType="Map" resultType="Map">
		SELECT PT_CODE
			,CODE
			,CODE_NM
			FROM HCNC.COM_CD_DTL
		WHERE 1=1
		<if test='searchValDtl != null and searchValDtl != ""'>
			<choose>
				<when test='searchCmbDtl == "ALL"' >
				AND (
					 CODE LIKE CONCAT('%', #{searchValDtl}, '%')
					OR CODE_NM LIKE CONCAT('%', #{searchValDtl}, '%')
				)
				</when>
				<when test='searchCmbDtl == "CODE"' >
					AND CODE LIKE CONCAT('%', #{searchValDtl}, '%')
				</when>
				<when test='searchCmbDtl == "CODE_NM"' >
					AND CODE_NM LIKE CONCAT('%', #{searchValDtl}, '%')
				</when>
			</choose>
		</if>
		<if test='ptCode != null and ptCode != ""'>
			AND PT_CODE = #{ptCode}
		</if>
	</select>
	
	<select id="selectCode" parameterType="Map" resultType="Map">
		SELECT PT_CODE
			, CODE
			, CODE_NM
		FROM HCNC.COM_CD_DTL 
	</select>
	
	
	<!-- insert -->
	<!-- useGeneratedKyes=마지막으로 생성된 PK의 값을 가져옴, keyProperty: 키를 담을 변수 명 -->
	<insert id="insertBoard" parameterType="Map" useGeneratedKeys="true" keyProperty="boardNo">
		INSERT INTO HCNC.HCNC_BOARD(TITLE, CONT, WRITER, MODIFIER, BOARD_TYPE, CATEGORY)
		VALUES (#{TITLE}, #{CONT}, #{WRITER}, #{MODIFIER}, #{BOARD_TYPE_NM}, #{CATEGORY_NM})
	</insert>
	
	<insert id="insertCode" parameterType="Map">
		INSERT INTO HCNC.COM_CD_MST(CODE, CODE_NM)
		VALUES (#{CODE}, #{CODE_NM})
	</insert>
	
	<insert id="insertCodeDtl" parameterType="Map">
		INSERT INTO HCNC.COM_CD_DTL(PT_CODE, CODE, CODE_NM)
		VALUES (#{PT_CODE}, #{CODE}, #{CODE_NM})
	</insert>
	
	<!-- update -->
	<update id="updateBoard" parameterType="Map">
		UPDATE HCNC.HCNC_BOARD
		SET TITLE=#{TITLE},
			CONT=#{CONT},
			MODIFIER=#{MODIFIER},
			MOD_DT=CURRENT_TIMESTAMP(),
			BOARD_TYPE=#{BOARD_TYPE_NM},
			CATEGORY=#{CATEGORY_NM}
		WHERE BOARD_NO=#{BOARD_NO}
	</update>
	
	<update id="updateCode" parameterType="Map">
		UPDATE HCNC.COM_CD_MST
			SET CODE_NM = #{CODE_NM}
		WHERE CODE = #{CODE}
	</update>
	
	<update id="updateCodeDtl" parameterType="Map">
		UPDATE HCNC.COM_CD_DTL
			SET CODE_NM = #{CODE_NM}
		WHERE CODE = #{CODE}
			AND PT_CODE=#{PT_CODE}
	</update>
	
	<update id="updateDelYN" parameterType="int">
		UPDATE HCNC.HCNC_BOARD
			SET DELETE_YN = 'Y'
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="updateDelYNlist" parameterType="java.util.List">
		UPDATE HCNC.HCNC_BOARD
			SET DELETE_YN = 'Y'
		WHERE BOARD_NO IN
		<foreach collection="list" item="boardNo" open="(" close=")" separator=",">
			#{boardNo}
		</foreach>
	</update>
	
	<!-- delete -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM HCNC.HCNC_BOARD WHERE BOARD_NO=#{boardNo}
	</delete>
	
	<delete id="deleteBoardList" parameterType="java.util.List">
		DELETE FROM HCNC.HCNC_BOARD
		WHERE BOARD_NO IN
		<foreach collection="list" item="boardNo" open="(" close=")" separator=",">
			#{boardNo}
		</foreach>
	</delete>
	
	<delete id="deleteCode" parameterType="String">
		DELETE FROM HCNC.COM_CD_MST
		WHERE CODE=#{code}
	</delete>
	
	<delete id="deleteCodeDtl" parameterType="Map">
		DELETE FROM HCNC.COM_CD_DTL
		WHERE CODE=#{code}
			AND PT_CODE=#{ptCode}
	</delete>
</mapper>